@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,900;1,900&display=swap');

body{
    font-family: 'Exo 2', sans-serif;
}
:root{
    --icon: #7147c2;
    --blue: #8761fc;
    --dark-blue: #7147c2;
    --moon-grey: #1d1e25;
    --background: #242630;
    --surfacePrimary: #1d1e25;
    --surfaceSecondary: #3c3a47;

}
header{
    background-color: #1d1e25;
}
#login h1{
    font-style: italic;
}
#listing .item{
    background-color: #1d1e25;
    color: inherit;
}
.shell{
    background-color: #1d1e25;

}
.card{
    background-color: var(--moon-grey);
}
